{
  	"presets": ["@babel/preset-env", "@babel/preset-stage-3"],
  	"plugins": [
  		"transform-async-to-generator",
        "transform-es2015-modules-commonjs",
        "transform-export-extensions"
    ]
}